@{
	ViewData["Title"] = "O Nama";
}


<div class="row">
<div class="col-6">
<h1>O nama</h1>

<p class="text-justify">Projekat Blogner je osmišljen i urađen od strane tri taletntovana softver inženjera sa Politehničkog fakulteta u Zenici:
		Ajdin Spahić, Amar Omerhodžić, i autor ovog teksta Mladen Lazić.
		Blogner je rađen korsteći ASP.NET Core 5.0 MVC jer je efikasan i zadovoljava potrebe za rješavanje problema koji su nam bili predsatvljeni.
		Naravno pomoglo je i to što posjedujemo iskustva iz relnog sektora koja smo primjenili pri izradi kako bi dobili kvalitetan proizvod.
		Za ovaj prijekat većinom smo se fokusirali na bekend funkcionalnosti pa smo frontend dizajn ostavili jednostavnim.
		Baza je sqlserver jer se uklapa sa .NET-om i Entity Frameworkom te nam omogućava efikasan rad i čuvanje podataka.
	</p>
</div>
	<div class="col-6 d-flex justify-content-center align-items-center">

		<map name="workmap">
			<area shape="circle" coords="105,125,125" href="https://ptf.unze.ba/" target="blank">
		</map>
		<div class="row ptf"><img src="https://ptf.unze.ba/wp/wp-content/uploads/2017/11/Logo-PTF-2.jpg" height="250" usemap="#workmap"></div>
	</div>
</div>